@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url('./assets/fonts/NotoSansKR-Light.otf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./assets/fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./assets/fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./assets/fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'Peddana';
  src: url('./assets/fonts/Peddana-Regular.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; */
  color: #282828;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #ffffff;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.slider_wrapper {
  width: 81.25rem;
  margin-bottom: 140px;
}

.slider_wrapper_main_slider {
  width: 100%;
}

.slider_wrapper_best_products {
  width: 100%;
  height: 590px;
  margin-top: 40px;
}

.slider_wrapper_today_delivery_products {
  width: 100%;
}

.personal_slider {
  width: 40rem;
  height: 530px;

  position: relative;
}

.personal_slider_main_slider {
  width: 100%;
  height: 790px;

  position: relative;
}

.personal_slider_best_products {
  /* width: 23.75rem !important; */
  width: 27.125rem !important;
  height: 590px;

  position: relative;
}

.dark_opacity {
  width: 40rem;
  height: 480px;
  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;

  z-index: 999;
}

.dark_opacity2 {
  width: 40rem;
  height: 480px;
  background-color: black;

  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;

  z-index: 999;
}

.dark_opacity_main_slider {
  display: none;

  width: 100%;
  height: 100%;
  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;

  z-index: 999;
}

.dark_opacity_best_products {
  width: 23.75rem !important;
  height: 530px;

  background-color: black;

  position: absolute;
  left: 50%;
  margin-left: -11.875rem;
  top: 50%;
  margin-top: -265px;

  opacity: 0.6;

  z-index: 999;

  display: none;
}

.main_slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  left: 0;
  top: 0;
}

.best_products_slider_img {
  /* width: 23.75rem !important; */
  width: 23.75rem !important;
  height: 530px;

  object-fit: cover;

  position: absolute;
  left: 50%;
  margin-left: -11.875rem;
  top: 50%;
  margin-top: -265px;
}

.slick-slide.slick-center img {
  transform: scale(1.1);
  object-fit: cover;
}

.slick-slide.slick-center .dark_opacity_best_products {
  transform: scale(1.1);
  display: block;
}

.slick-slide.slick-center .desc_wrap_best_products {
  display: block;

  width: 292px;
  padding: 20px 0;
  box-sizing: border-box;
  border-top: 1px solid #fff;

  z-index: 99999999;

  position: absolute;
  bottom: 30px;
  left: 30px;
}

.slider_img {
  width: 40rem;
  height: 480px;
  object-fit: cover;

  position: absolute;
  left: 0;
  top: 0;
}

.slider_img2 {
  width: 40rem;
  height: 480px;
  object-fit: cover;

  position: absolute;
  right: 0;
  top: 0;
}

.desc_wrap {
  position: absolute;
  bottom: 90px;
  left: 2.5rem;

  z-index: 999999;
}

.desc_wrap_best_products {
  display: none;
}

.desc_h1 {
  font-family: 'Peddana';
  font-size: 4.375rem;
  color: white;
  line-height: 3rem;
}

.desc_p {
  font-size: 1rem;
  color: white;
}

.desc_h1_best_products {
  margin-bottom: 20px;

  font-size: 1.25rem;
  color: white;
}

.desc_p_best_products {
  font-size: 1rem;
  color: #a6a6a6;
}

.dots_custom,
.dots_custom_dark {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li,
.dots_custom_dark li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 2px;
  width: 110px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #282828;
}

.dots_custom_dark li button {
  border: none;
  background: #646464;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 2px;
  width: 110px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom_dark li.slick-active button {
  background-color: #ffffff;
}

.next-arrow {
  font-size: 2rem;

  position: absolute;
  top: 50%;
  margin-top: -3rem;
  right: -3rem;

  z-index: 999999;

  cursor: pointer;
}

.prev-arrow {
  font-size: 2rem;

  position: absolute;
  top: 50%;
  margin-top: -3rem;
  left: -3rem;

  z-index: 999999;

  cursor: pointer;
}

.next-arrow-main-slider {
  font-size: 2rem;
  color: white;

  position: absolute;
  top: 50%;
  margin-top: -3rem;
  right: 20rem;

  z-index: 999999;

  cursor: pointer;
}

.prev-arrow-main-slider {
  font-size: 2rem;
  color: white;

  position: absolute;
  top: 50%;
  margin-top: -3rem;
  left: 20rem;

  z-index: 999999;

  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
